<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}">
    <title>GTManager - Home</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div class="wrap">

    <div class="toolbar">
        <div>
            <h1>GTManager</h1>
            <p>Tables:</p>
        </div>

        <div class="actions">
            <a class="btn" th:href="@{/account}">Account</a>

            <form class="inline" th:action="@{/logout}" method="post">
                <button class="btn" type="submit">Logout</button>
            </form>
        </div>
    </div>

    <div class="grid">
        <div class="card">
            <h2>Households</h2>
            <a th:href="@{/households}">Open households</a>
        </div>

        <div class="card">
            <h2>People</h2>
            <a th:href="@{/people}">Open people</a>
        </div>

        <div class="card">
            <h2>Degrees</h2>
            <a th:href="@{/home}">Open degrees</a>
        </div>

        <div class="card">
            <h2>Dimension Tables</h2>
            <div><a th:href="@{/home}">DimHouseholds</a></div>
            <div><a th:href="@{/home}">DimPerson</a></div>
        </div>
    </div>
</div>
</body>
</html>